DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres
REDIS_URL=redis://localhost:6379/0
AUDIO_STORAGE_PATH=tmp/audios_buffers
WORKER_ID=worker-fast-local
WORKER_LEASE_SECONDS=300
MAX_ATTEMPTS=3
WHISPER_SERVICE_URL=http://localhost:5002
REDIS_QUEUE_NAME_MONO_VOICE=mono_voice_queue
WORKER_LOOP_SLEEP_TIME=1
