REDIS_DSN=redis://localhost:6379/0
PG_DSN=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres
AUDIO_FOLDER_PATH=tmp/audios_buffers
WHISPER_SERVICE_URL=http://localhost:5002
REDIS_QUEUE_NAME_MONO_VOICE=mono_voice_queue
WORKER_LOOP_SLEEP_TIME=1
