# baseConfig
DATABASE_URL=
SECRET_KEY=
AUDIO_STORAGE_PATH=
REDIS_URL=
DEBUG=

# APIConfig
API_PORT=
FORMAT_AUDIO_ALLOWED=

# WorkerBatchConfig
WHISPER_SERVICE_URL=

# WorkerDiarizationConfig
WHISPERX_SERVICE_URL=
